/*
body {
  margin: 40px 0;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 10vh;
  font-weight: 500;
  background-color: #BCAAA4;
  -webkit-font-smoothing: antialiased;
}

h1.card-name {
  font-size: 30vh;
  font-weight: 700;
  color: #5D4037;
  text-align: center;
}

button.randomButton {
      display: inline-block;
  color: white;
  font-size: 22px;
  text-align: center;
  text-shadow: 1px 2px 1px rgba(81, 81, 81, 0.4);
  border: none;
  border-radius: 8px;
  height: 40px;
  width: 170px;
  background-color: #305f89;
  transition: box-shadow .1s ease-in-out;
  line-height: 1;
  text-shadow: 0 -1px 1px rgba(175, 49, 95, .7);
  justify-content: center;
  cursor: pointer;
}

.title-style {
  color: #EFCA08;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
}

.title-des {
  background: #fff;
  padding: 7px;
  border-radius: 4px;
  border: 1px solid #000;
}

.box {
  border-radius: 15px;
  text-align: center;
  text-shadow: 1px 2px 1px rgba(81, 81, 81, 0.4);
  height: 100px;
  width: 70px;
  background-color: #bbbbaa;

}

.cards-face {
  min-height: 250px;
  margin: 0 auto;
  position: relative;
  width: 150px;
  background: linear-gradient(-135deg, #99c2ff, #0b5eda);
  box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.15), inset 0 0 0 2px rgba(153, 194, 255, 0.75);
  transition: 800ms cubic-bezier(0.19, 1, 0.22, 1) -webkit-transform;
  transition: 800ms cubic-bezier(0.19, 1, 0.22, 1) transform;
  transition: 800ms cubic-bezier(0.19, 1, 0.22, 1) transform, 800ms cubic-bezier(0.19, 1, 0.22, 1) -webkit-transform;
  -webkit-transform: translateY(5px) rotate(-3.125deg) scale(.6);
  transform: translateY(5px) rotate(-3.125deg) scale(.6);
}


#output {
  padding: 10px;
  pointer-events: none;

}

.cards-face:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4), inset 0 0 0 2px rgba(153, 194, 255, 0.75);
  -webkit-transform: translateY(50px) rotate(0deg) scale(1);
  transform: translateY(50px) rotate(0deg) scale(1);
}
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 10px;
    display: flex;
    background: #fab31f;
    text-align: center;
  }
  
  
  
  h1 {
    font-size: 16px;
    display: block;
    box-sizing: border-box;
    margin: 5vh auto;
    border: 7px solid #139893;
    text-transform: uppercase;
    padding: 1em 2em;
    background-color: #244EA7;
    font-weight: bold;
    width: 50%;
    color: white;
  }
  
  .text {
    font-size: 2em;
    color: white;
    margin: 2vh auto 1vh;
    padding: 0.1vh 200px;
  }
  
  #PLACE_FOR_CARD {
    height: auto;
    width: 35vw;
    background: #244EA7;
    display: block;
    color: red;
    font-size: 12px;
    border-radius: 4rem;
    padding: 7px 7px;
    margin: auto auto;
    line-height: 3vh;
    align-items: center;
    min-height: 350px;
    min-width: 200px;
    position: relative;
    border: 15px solid white;
    border: 10px solid #139893;
  
  }
  
  #randomCards:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px;
    border: none;
  }
  
  /*
  .cardsface {
    text-align: center;
    align-items: center;
  }
  */
  
.CARD_APPEARANCE {
    color: red;
    font-size: 22px;
}


  #randomCards {
    min-height: 40px;
    margin: auto;
    color: white;
    display: inline-block;
    box-sizing: border-box;
    min-height: 3em;
    min-width: 15em;
    height: 5vh;
    width: 10vw;
    background-color: #4926AC;
    border-radius: 10px;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 2em;
    letter-spacing: 3px;
    box-shadow: 0 10px 15px 0 rgba(239, 81, 82, .28);
    padding: 1em 2em margin: 5vh auto;
    font-weight: 600;
    transition: 0.5s;
    margin: 2vh;
    border: none;
  }
  
  .title-style {
  
    font-size: 2.5rem;
    display: inline-block;
    margin: 10px;
    font-weight: bold;
  }
  
  .title-des {
    font-style: italic;
    padding: 10px;
  }
  
  hr {
    width: 100%;
    background-color: black;
    outline-color: red;
  }
  
  .title-effect {
    font-size: 20px;
    color: crimson;
  }
  